{% extends 'base.html' %}
{% load static %}
{% block left_content %}
			<!-- List-Group Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-random"></span> Links</h1>
				</div>
				<div class="list-group">
				    {% for link in links%}
					<a href="{{link.url}}" class="list-group-item">{{link.name}}</a>
					{% endfor%}
				</div>
			</div>
				
{% endblock left_content %}
  
{% block center_content %}	
			<!-- Articles -->
			<div class="row">
				<article class="col-xs-12">
                    <div class="entry-content">
					<p><span style="line-height: 1.5;"><b><img loading="lazy" class="alignleft wp-image-1952 size-medium" src="{% static 'background/20211109160937.jpg' %}" alt="" style="max-width:600px;" ></a></b></span></p>
                    {% autoescape off %}
						{{profile.content}}
					{% endautoescape %}
<!-- .entry-content --></div> <!-- entry-content --><div class="heatmapthemead-featured-page-clear">&nbsp;</div>
				</article>
			</div>
{% endblock center_content %}