{% extends 'base.html' %}
{% load static %}
{% block left_content %}
			<!-- List-Group Panel -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title"> Categories</h1>
		</div>
		<ul class="list-group">
		{% for category in categories %}
		 <li class="list-group-item">
		  <span><a href="{% url 'article:list_post' 1 category.id   %}?keyword={{keyword}}" class="inline-block">{{ category.name }}</a></span>
		  <span class="badge badge-primary badge-pill"> 
		  {% if request.user.is_authenticated %}
		  {{ category.posts.all|length}}
		  {% else%}
		  {{ category.get_private_posts|length}}
		  {% endif%}
		  </span>
		 </li>
		{% endfor%}
		</ul>
	</div>
{% endblock left_content %}

{% block center_content %}
  
	{% for post in pageinfo.object_list%}	
	<!-- Articles -->
	<div class="row">
		<article class="col-xs-12">
			<h2>{{ post.title }}</h2>
			<p>
			{% autoescape off %}
			  	{{ post.body |striptags | truncatechars:100  }}
			{% endautoescape %}
			</p>
			<p><a class="btn btn-default" href="{% url 'article:detail_post' post.id %}">more</button></a>
			<p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
			<ul class="list-inline">
				<li><a href="#">{{ post.timestamp | date:"Y年m月d日"}}</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-comment"></span> {{ post.comment_set.all|length }} Comments</a></li>
		</article>
	</div>
	{% endfor %}
	<div class="col-md-offset-0">
      
		<div id="page" class="pagination">
		{% for _ in pageinfo.paginator.num_pages|get_range %}

			{% with start=pageinfo.number|add:-5 %}
			{% with end=pageinfo.number|add:5 %}
			{% if forloop.counter == pageinfo.number %}
				<li class="active"><a href="javascript:void(0)" title="Current page is 1">{{forloop.counter}}</a></li>	
			{% elif forloop.counter > end or forloop.counter < start %}
			{% elif forloop.last == pageinfo.paginator.num_pages %}
			   	<li><a href="{% url 'article:list_post' forloop.counter category_id %}?keyword={{keyword}}" title="Go to last page">末页</a></li>
			{% else %}
			   	<li><a href="{% url 'article:list_post' forloop.counter category_id %}?keyword={{keyword}}" title="Go to page 2">{{ forloop.counter }}</a></li>
			{% endif%}

			{% endwith %}
			{% endwith %}
		{% endfor %}
		</div>
	</div>
{% endblock center_content %}