{% extends 'base.html' %}
{% load static %}
{% block left_content %}
			<!-- List-Group Panel -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title"><span class="glyphicon glyphicon-random"></span> Completely Synergize</h1>
		</div>
		<div class="list-group">
			<a href="#" class="list-group-item">Resource Taxing</a>
			<a href="#" class="list-group-item">Premier Niche Markets</a>
			<a href="#" class="list-group-item">Dynamically Innovate</a>
			<a href="#" class="list-group-item">Objectively Innovate</a>
			<a href="#" class="list-group-item">Proactively Envisioned</a>
		</div>
	</div>
{% endblock left_content %}

{% block center_content %}
  
	{% for album in pageinfo.object_list%}		

	<!-- Articles -->
	<div class="row">
		<article class="col-xs-12">
			<h2>{{ album.name }}</h2>
			<p class="inline">{{ album.description }}</p>
				<button type="button" class="btn btn-primary" id="button">
					Launch the demo
			</button>
		</article>
	</div>
	{% endfor %}
	<div class="col-md-offset-0">
		<div id="page"  >
			<script type="text/javascript">
			var totalpages=10;
			var currentPage=3;
				$(function(){
					var options={
						bootstrapMajorVersion:1,    //版本
						currentPage:currentPage,    //当前页数
						numberOfPages:5,    //最多显示Page页
						totalPages:totalpages,    //所有数据可以显示的页数
						pageUrl: function(type, page, current){
							if (page==current) {
								return "javascript:void(0)";
							} else {
								return "#"
							}
						}

					}
					$("#page").bootstrapPaginator(options);
				})
			</script>
		</div>	
	</div>
{% endblock center_content %}