{% extends 'base.html' %}
{% load static %}

{% block content %}

<link href="{% static '/plugins/magnify/css/magnify.css' %}" rel="stylesheet">
<script src="{% static '/plugins/magnify/js/jquery.magnify.js' %}"></script>

<style>

.photo{
  margin-top:20px;
}

</style>

<div class="container-fluid">

		<!-- Left Column -->
		<div class="col-sm-3 col-md-offset-1">

			<!-- List-Group Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-random"></span> Completely Synergize</h1>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item">Resource Taxing</a>
					<a href="#" class="list-group-item">Premier Niche Markets</a>
					<a href="#" class="list-group-item">Dynamically Innovate</a>
					<a href="#" class="list-group-item">Objectively Innovate</a>
					<a href="#" class="list-group-item">Proactively Envisioned</a>
				</div>
			</div>
				
		</div><!--/Left Column-->
		<!-- Center Column -->
		<div class="col-sm-6">
      <a data-magnify="gallery" href="https://farm1.staticflickr.com/313/31812080833_297acfbbd9_z.jpg">
        <img class="photo" src="https://farm1.staticflickr.com/313/31812080833_297acfbbd9_z.jpg">
      </a>
      <a data-magnify="gallery" href="https://farm1.staticflickr.com/313/31812080833_297acfbbd9_z.jpg">
        <img class="photo" src="https://farm1.staticflickr.com/313/31812080833_297acfbbd9_z.jpg">
      </a>
      <a data-magnify="gallery" href="https://farm1.staticflickr.com/313/31812080833_297acfbbd9_z.jpg">
        <img class="photo" src="https://farm1.staticflickr.com/313/31812080833_297acfbbd9_z.jpg">
      </a>
		</div><!--/Center Column-->
	</div><!--/container-fluid-->

<script type="text/javascript">
$("[data-magnify=gallery]").magnify({
  footerToolbar: ["myCustomButton"],
  customButtons: {
    myCustomButton: {
      text: "custom!",
      title: "custom!",
      click: function (context, e) {
        alert("clicked the custom button!");
      },
    },
  },
});
</script>

{% endblock content %}