{% extends 'base.html' %}
{% load static %}
{% block left_content %}
			<!-- List-Group Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-random"></span> Links</h1>
				</div>
				<div class="list-group">
				    {% for link in links%}
					<a href="{{link.url}}" class="list-group-item">{{link.name}}</a>
					{% endfor%}
				</div>
			</div>
				
{% endblock left_content %}
  
{% block center_content %}	
			<!-- Articles -->
			<div class="row">
				<article class="col-xs-12">
                    <div class="entry-content"><p><span style="line-height: 1.5;"><b><img loading="lazy" class="alignleft wp-image-1952 size-medium" src="{% static 'background/20211109160937.jpg' %}" alt="" style="max-width:600px;" ></a></b></span></p>
<p><strong>扎西德勒！</strong>Hi，欢迎来到我的空间，这里是一个纯粹的博客，讨论的内容有：Linux, Python, Sport, TCP/IP, Container, Docker, Ansible, Git, Graphviz, Redis, Prometheus, SSH, Shell, Bash, GNU, Github, C, C++, Unix, Nginx, Lua, Django, React 以及运维的方法论，编程的思考，工作的感悟。除了技术上的内容之外，这个博客还会分享一些读书感悟，生活感悟电影和音乐等。欢迎留下你的评论。</p>
<!-- .entry-content --></div> <!-- entry-content --><div class="heatmapthemead-featured-page-clear">&nbsp;</div>
				</article>
			</div>
{% endblock center_content %}