{% extends 'base.html' %}
{% load static %}
{% block left_content %}
			<!-- List-Group Panel -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title"> Categories</h1>
		</div>
		<ul class="list-group">
		{% for category in categories %}
		 <li class="list-group-item">
		  <span><a href="#" class="list-group-item">{{ category.name }}</a></span>
		 </li>
		{% endfor%}
		</ul>
	</div>
{% endblock left_content %}

{% block center_content %}
  
	{% for post in pageinfo.object_list%}	
	<!-- Articles -->
	<div class="row">
		<article class="col-xs-12">
			<h2>{{ post.title }}</h2>
			<p>Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products. Proactively envisioned multimedia based expertise and cross-media growth strategies.</p>
			<p><button class="btn btn-default">Read More</button></p>
			<p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
			<ul class="list-inline">
				<li><a href="#">Yesterday</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-comment"></span> 21 Comments</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-share"></span> 36 Shares</a></li>
		</article>
	</div>
	{% endfor %}
	<div class="col-md-offset-0">
		<div id="page"  >
			<script type="text/javascript">
			var totalpages={{pageinfo.paginator.num_pages}};
			var currentPage={{pageinfo.number}};
				$(function(){
					var options={
						bootstrapMajorVersion:1,    //版本
						currentPage:currentPage,    //当前页数
						numberOfPages:5,    //最多显示Page页
						totalPages:totalpages,    //所有数据可以显示的页数
						pageUrl: function(type, page, current){
							if (page==current) {
								return "javascript:void(0)";
							} else {
								return "{% url 'list_post' %}" + "?page=" + page;
							}
						}
					}
					$("#page").bootstrapPaginator(options);
				})
			</script>
		</div>	
	</div>
{% endblock center_content %}